# Data Manipulation using pandas

In [36]:
#Exp 4

In [4]:
#Name: Mrudula Manish Bompilwar
#Roll No.:07
#Sec: C
#Subject:ET - 1

In [12]:
import pandas as pd

In [13]:
import os

In [14]:
os.getcwd()

'C:\\Users\\HP\\anaconda3'

In [15]:
import os
os.chdir("C:\\Users\\HP\\Downloads")

In [16]:
df=pd.read_csv("diabetes.csv")

In [17]:
df.head()

  Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0                      6,148,72,35,0,33.6,0.627,50,1
1                       1,85,66,29,0,26.6,0.351,31,0
2                       8,183,64,0,0,23.3,0.672,32,1
3                      1,89,66,23,94,28.1,0.167,21,0
4                    0,137,40,35,168,43.1,2.288,33,1

In [18]:
df.tail()

    Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763                   10,101,76,48,180,32.9,0.171,63,0
764                       2,122,70,27,0,36.8,0.34,27,0
765                    5,121,72,23,112,26.2,0.245,30,0
766                       1,126,60,0,0,30.1,0.349,47,1
767                       1,93,70,31,0,30.4,0.315,23,0

In [19]:
df.shape

(768, 1)

In [20]:
df.size

768

In [21]:
df.ndim

2

In [22]:
df.isnull().sum()  # Summarize the number of missing values per column

Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome    0
dtype: int64